body {
    height: 100vh;
    font-family: 'Courier New';
}

.main {
    padding: 0 0 !important;
    height: 100%;
}

.decorative-upper {
    background: #f55a69;
    height: 100px;
}

.form-container-1 {
    height: 400px;
}

.decorative-bottom {
    background: #6480af;
    height: 541px;
}

.title {
    padding-top: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #6480af;
    border-color: rgba(100, 128, 175, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(100, 128, 175, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #2e70ff;
    border-color: #005cbf;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
}
.btn-primary:hover {
    color: rgb(34, 34, 34);
    background-color: #95bcff;
    border-color: #689fda;
}

.btn-danger {
    color: #fff;
    background-color: #8b4d53;
    border-color: #854047;
}

.btn-danger:not(:disabled):not(.disabled).active:focus, 
.btn-danger:not(:disabled):not(.disabled):active:focus, 
.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.btn-danger:not(:disabled):not(.disabled).active, 
.btn-danger:not(:disabled):not(.disabled):active, 
.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #92242f;
    border-color: #9c2937;
}
.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(187, 68, 80, 0.5);
}
.btn-danger:hover {
    color: rgb(53, 53, 53);
    background-color: #f07783;
    border-color: #f07380;
}

.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #b82635;
}

@media (max-width: 768px)
{
    .btn-primary {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (min-width: 1200px)
{
    .btn-primary {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (min-width: 992px)
{
    .btn-primary {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (min-width: 768px)
{
    .btn-primary {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media (min-width: 576px)
{
    .btn-primary {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
}

.col-12 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
    
}
