#photo-item {
	padding:50px;
}
#description-item {
	padding:50px;
}
#btn-load {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 40px;
}
#btn-upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
}

#preview {
	margin: 20px 10px 20px 10px;
}

#painting-title > h3 {
	text-align: center !important;
	padding: 20px !important;
}

#painting-notfound-title > h4 {
	text-align: center !important;
	padding: 20px !important;
}