/* Buttons */

.update-btn, .delete-btn { 
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8em;
	border-radius: 0;
}

.update-btn {
	color: #190933;
	background: #5DD9C1;
	-webkit-background: #5DD9C1;
    -moz-background: #5DD9C1;
    -ms-background: #5DD9C1;
    -o-background: #5DD9C1;
	border-color: #5DD9C1;
}

.update-btn:hover {
	color: #fff;
	background: #41baa2;
	-webkit-background: #41baa2;
    -moz-background: #41baa2;
    -ms-background: #41baa2;
    -o-background: #41baa2;
	border-color: #41baa2;
}

.update-btn:active {
	color: #fff !important;
	background: #2d8473 !important;
	-webkit-background: #2d8473;
    -moz-background: #2d8473;
    -ms-background: #2d8473;
    -o-background: #2d8473;
	border-color: #2d8473 !important;
}

.update-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(93, 217, 193, .5)
}

.update-btn:not(:disabled):not(.disabled).active:focus, 
.update-btn:not(:disabled):not(.disabled):active:focus, 
.show > .update-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(93, 217, 193, .5)
}

.delete-btn {
	color: #190933;
	background: #A5DDF8;
	-webkit-background: #A5DDF8;
    -moz-background: #A5DDF8;
    -ms-background: #A5DDF8;
    -o-background: #A5DDF8;
	border-color: #A5DDF8;
}

.delete-btn:hover {
	color: #fff;
	background: #75acc6;
	-webkit-background: #75acc6;
    -moz-background: #75acc6;
    -ms-background: #75acc6;
    -o-background: #75acc6;
	border-color: #75acc6;
}

.delete-btn:active {
	color: #fff !important;
	background: #3b748e !important;
	-webkit-background: #3b748e;
    -moz-background: #3b748e;
    -ms-background: #3b748e;
    -o-background: #3b748e;
	border-color: #3b748e !important;
}

.delete-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(165, 221, 248, .5)
}

.delete-btn:not(:disabled):not(.disabled).active:focus, 
.delete-btn:not(:disabled):not(.disabled):active:focus, 
.show > .delete-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(165, 221, 248, .5)
}

.confirm-update-btn,
.confirm-delete-btn {
	color: #190933;
	background: #5DD9C1;
	-webkit-background: #5DD9C1;
    -moz-background: #5DD9C1;
    -ms-background: #5DD9C1;
    -o-background: #5DD9C1;
	border-color: #5DD9C1;
}

.confirm-update-btn:hover,
.confirm-delete-btn:hover {
	color: #fff;
	background: #41baa2;
	-webkit-background: #41baa2;
    -moz-background: #41baa2;
    -ms-background: #41baa2;
    -o-background: #41baa2;
	border-color: #41baa2;
}

.confirm-update-btn:active,
.confirm-delete-btn:active {
	color: #fff !important;
	background: #2d8473 !important;
	-webkit-background: #2d8473;
    -moz-background: #2d8473;
    -ms-background: #2d8473;
    -o-background: #2d8473;
	border-color: #2d8473 !important;
}

.confirm-update-btn:focus,
.confirm-delete-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(93, 217, 193, .5)
}

.confirm-update-btn:not(:disabled):not(.disabled).active:focus, 
.confirm-update-btn:not(:disabled):not(.disabled):active:focus, 
.show > .confirm-update-btn.dropdown-toggle:focus,
.confirm-delete-btn:not(:disabled):not(.disabled).active:focus, 
.confirm-delete-btn:not(:disabled):not(.disabled):active:focus, 
.show > .confirm-delete-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(93, 217, 193, .5)
}

.confirm-upd-close-btn,
.confirm-delete-close-btn {
	color: #190933;
	background: #A5DDF8;
	-webkit-background: #A5DDF8;
    -moz-background: #A5DDF8;
    -ms-background: #A5DDF8;
    -o-background: #A5DDF8;
	border-color: #A5DDF8;
}

.confirm-upd-close-btn:hover,
.confirm-delete-close-btn:hover {
	color: #fff;
	background: #75acc6;
	-webkit-background: #75acc6;
    -moz-background: #75acc6;
    -ms-background: #75acc6;
    -o-background: #75acc6;
	border-color: #75acc6;
}

.confirm-upd-close-btn:active,
.confirm-delete-close-btn:active {
	color: #fff !important;
	background: #3b748e !important;
	-webkit-background: #3b748e;
    -moz-background: #3b748e;
    -ms-background: #3b748e;
    -o-background: #3b748e;
	border-color: #3b748e !important;
}

.confirm-upd-close-btn:focus,
.confirm-delete-close-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(165, 221, 248, .5)
}

.confirm-upd-close-btn:not(:disabled):not(.disabled).active:focus, 
.confirm-upd-close-btn:not(:disabled):not(.disabled):active:focus, 
.show > .confirm-upd-close-btn.dropdown-toggle:focus,
.confirm-delete-close-btn:not(:disabled):not(.disabled).active:focus, 
.confirm-delete-close-btn:not(:disabled):not(.disabled):active:focus, 
.show > .confirm-delete-close-btn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(165, 221, 248, .5)
}