.image-container { 
    background: #000; 
    width: 300px;
    height: 300px;
}

.image-prev,
.image-next {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-bottom: 3rem!important;
}

.prev-box-right,
.prev-box-left {
    height: 100px;
    width: 100px;
    background: #190933;
    -webkit-background: #190933;
    -moz-background: #190933;
    -ms-background: #190933;
    -o-background: #190933;
    color: #fff;
    font-size: 2em;
}

.prev-box-right a,
.prev-box-left a {
    color: #fff !important;
    cursor: pointer;
}

.data-title {
    padding-left: 10px;
    margin: 0 auto;
    width: 300px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    letter-spacing: 10px;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

.data-content {
    text-align: center;
    line-height: 20px;
    letter-spacing: 3px;
    font-size: 0.6em;;
    font-family: 'Merriweather', serif;
}

.sh-title-container {
    padding: 100px 100px 50px 100px;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    letter-spacing: 5px;
    color: #190933;
}

.spinner-border {
    display: none;
}

.text-dark {
    color: #190933 !important;
}

.shows-data-container {
    background: #665687;
    -webkit-background: #665687;
    -moz-background: #665687;
    -ms-background: #665687;
    -o-background: #665687;
    color: #fff;
    padding-bottom: 1.5rem;
}

.balance-margin {
    margin-top: 0px;
}

.balance-margin-wrap {
    margin-top: 777px;
}

#empty-shows {
    z-index: 9999;
}

#empty-shows .modal-title {
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#empty-shows .modal-footer {
	justify-content: center;
	border: none;
}

#empty-shows .close {
    color: #fff;
}

#empty-shows .modal-content {
    border-radius: 0;
}

#empty-shows .modal-body p {
	font-family: 'Merriweather', serif;
	letter-spacing: 5px;
	font-size: 0.8em;
	text-align: center;
	line-height: 40px;
}

#empty-shows .modal-header {
    background: #190933;
    -webkit-background: #190933;
    -moz-background: #190933;
    -ms-background: #190933;
    -o-background: #190933;
    color: #fff;
    border-radius: 0;
}

#empty-shows .modal-body {
    padding: 60px;
}

.name-paragraph,
.date-paragraph,
.description-paragraph {
    font-size: .9em;
}